<DOCTYPE html>
    <head>
        <title> Contacts </title>
        <link rel = "stylesheet"
   type = "text/css"
   href = "myStyle.css" />
        
    </head>

    <body>
        <div id="mySidenav" class="sidenav">
            <a id ="logo" href="insite.iitmandi.ac.in"><img src="../public/img/images.png" height="150" width="230" style="margin-left: -15px;" /></a>
            <div class="Dropdown">
                <button class="dropbtn">B.Tech Batch</button>
                <div class="Dropdown-content">
                    <a href="#">B.Tech 2016</a>
                    <a href="#">B.Tech 2015</a>
                    <a href="#">B.Tech 2014</a>
                    <a href="#">B.Tech 2013</a>
                </div>
            </div>
            <div class="Dropdown">
                <button class="dropbtn">Post Graduate</button>
                <div class="Dropdown-content">
                    <a href="#">MS</a>
                    <a href="#">M.Sc</a>
                    <a href="#">M.Tech</a>
                </div>
            </div>
            <div class="Dropdown">
                <button class="dropbtn">Ph.D</button>
                <div class="Dropdown-content">
                    <a href="#">Ph.D</a>
                    <a href="#">Int Ph.D</a>
                </div>
            </div>
            <div class="Dropdown">
                <a id="fac" href="FacultyStaffDir.html"><button class="dropbtn">Faculty and Staff</button></a>
                <div class="Dropdown-content">
                    
                </div>
            </div>
        </div>
        <div id="myPage" class="page">
        <div class="fullscreen-bg">
    <video loop muted autoplay poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" class="fullscreen-bg__video">
 <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
<source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
</video>
    </video>
</div>

            <h1 id="iitmandi">Indian Institute Of Technology Mandi</h1>
            <h1 id="iit">IIT Mandi</h1>
            <h3>Contacts Directory</h3>
            <input type="text" name="search" id="search" placeholder="Search Contact" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Contact'">
            <div style="overflow-x:auto">
            <table>
                <tr>
                    <th>Roll No.</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Hostel</th>
                    <th>Room No.</th>
                    <th>Personal Contact</th>
                    <th>Emergency Contact Name</th>
                    <th>Emergency Contact</th>
                </tr>
                <tr>
                    <td>B16038</td>
                    <td>Sylvia</td>
                    <td>Computer Sceince and Engineering</td>
                    <td>B4 Chandertaal</td>
                    <td>001</td>
                    <td>98765123</td>
                    <td>Mr. Rajiv Mittal</td>
                    <td>9416220759</td>
                </tr>
                    <td>B16038</td>
                    <td>Sylvia</td>
                    <td>Computer Sceince and Engineering</td>
                    <td>B4 Chandertaal</td>
                    <td>001</td>
                    <td>98765123</td>
                    <td>Mr. Rajiv Mittal</td>
                    <td>9416220759</td>
                </tr>
                    <td>B16038</td>
                    <td>Sylvia</td>
                    <td>Computer Sceince and Engineering</td>
                    <td>B4 Chandertaal</td>
                    <td>001</td>
                    <td>98765123</td>
                    <td>Mr. Rajiv Mittal</td>
                    <td>9416220759</td>
                </tr>
                <tr>
                    <td>B16082</td>
                    <td>Abhigyan</td>
                    <td>Mechanical Engineering</td>
                    <td>B1 Parashar</td>
                    <td>001</td>
                    <td>??</td>
                    <td>??</td>
                    <td>78010329</td>
                </tr>
                <tr>
                    <td>B16038</td>
                    <td>Sylvia</td>
                    <td>Computer Sceince and Engineering</td>
                    <td>B4 Chandertaal</td>
                    <td>001</td>
                    <td></td>
                    <td>Mr. Rajiv Mittal</td>
                    <td>9416220759</td>
                </tr>
                <tr>
                    <td>B16038</td>
                    <td>Sylvia</td>
                    <td>Computer Sceince and Engineering</td>
                    <td>B4 Chandertaal</td>
                    <td>001</td>
                    <td></td>
                    <td>Mr. Rajiv Mittal</td>
                    <td>9416220759</td>
                </tr>
            </table>
            </div>
        </div>
    </body>
    </html>
