<DOCTYPE html>
<head>
<title> contact </title>
<style>

	table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 20%;
	}

	th, td {
    text-align: left;
    padding: 8px;
    font-size: 20px;
	}

	tr:nth-child(even){background-color: #f2f2f2}

</style>
</head>

<body>
	
	<table>
	<tr>
    	<td>Roll No : </td>
    	<td>B16038</td>
    </tr>

	<tr>
    	<td>Name : </td>
    	<td>Sylvia</td>
    </tr>

  	<tr>
  	  	<td>Branch</td>
  	  	<td>Computer Science and Engineering</td>
   	</tr>
  	
  	<tr>
    	<td>Hostel : </td>
    	<td>Chandertaal B4</td>
    </tr>

    <tr>
    	<td>Room No. : </td>
    	<td>001</td>
    </tr>

  	<tr>
    	<td>E-mail : </td>
    	<td>b16038@students.iitmadi.ac.in</td>
    </tr>

  	<tr>
    	<td>Personal Contact : </td>
    	<td>7807105329</td>
    </tr>


	<tr>
    	<td>Emergency Contact : </td>
    	<td>9416220759</td>
    </tr>

  	<tr>
  	  	<td>Emergency Contact Name :</td>
  	  	<td>Mr. Rajiv Mittal</td>
   	</tr>
   	</table>
  	
</body>